/* Font Links */
@font-face {
    font-family: playfairDisplay-regular;
    src: url(../fonts/playfair-display/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: playfairDisplay-medium;
    src: url(../fonts/playfair-display/playfairDisplay-medium.ttf);
}

@font-face {
    font-family: playfairDisplay-bold;
    src: url(../fonts/playfair-display/playfairDisplay-bold.ttf);
}

/* Common CSS Star */
* {
    margin: 0;
    padding: 0;
}

.c-light {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #b4ad9e;
    text-transform: uppercase;
}

.c-title {
    font-family: playfairDisplay-regular;
    font-size: 30px;
    font-weight: 400;
    color: #626262;
}

.c-txt {
    font-family: playfairDisplay-regular;
    font-size: 16px;
    font-weight: regular;
    color: #626262;
    line-height: 26px;
}
/* Common CSS End */


/* Header CSS Start */
.header {
    padding: 30px 0;
	width: 65%;
	margin: 0 auto;
	overflow: hidden;
}

.logo {
    width: 10%;
    float: left;
}

.logo img {
    width: 100%;
}

.menu {
    width: 60%;
    float: right;
}

.menu ul {
    float: right;
}

.menu ul li {
    list-style: none;
    float: left;
}

.menu ul li a {
    margin: 0 50px;
    padding-bottom: 10px;
    display: inline-block;
    font-family: playfairDisplay-regular;
    font-size: 16px;
    color: #626262;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid transparent;
}

.menu ul li:last-child a {
	margin-right: 0;
}

.menu ul li a:hover {
    font-family: playfairDisplay-regular;
    color: black;
    border-bottom: 2px solid black;
    transition: 0.33s;
}
/* Header CSS End */ 

/* Banner CSS Start */
.banner {
    width: 65%;
    margin: 0 auto;
}

.bnr-img img {
    width: 100%;
}
/* Banner CSS End */

/* weekend CSS Start */
.container {
    margin: 0 auto;
    width: 55%;
    /* border: 2px solid tomato; */
    overflow: hidden;
}

.w-section {
    padding: 100px 0 30px;
}

.c-title {
    margin: 10px 0 20px;
}

.c-txt{
    margin-bottom: 30px;
}
/* weekend CSS End */

/* Blog1 CSS Start */
.s-blog {
    margin-top: 70px;
    width: 47%;
    float: left;
    box-sizing: border-box;
}

.s-blog:nth-child(even) {
    margin-left: 6%;
}

.s-img {
    margin-bottom: 30px;
}

.s-img img {
    width: 100%;
}
/* Blog1 CSS End */

/* Newsletter CSS Start */
.newsltr {
    padding-top: 70px;
}
.news-container {
    padding: 70px 0 70px;
    background-color: #f0f0f0;
    text-align: center;
}

.signup-h1 {
    color: #333;
    margin-bottom: 50px;
}

.signup form {
    width: 400px;
    /* border: 2px solid tomato; */
    margin: 0 auto;
    position: relative;
}

.signup input {
    padding: 20px 30px 20px 5px;
    width: 340px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid black;
    background: none;
}

.signup input:focus {
    outline: none;
}

.signup-form button {
    position: absolute;
    border: none;
    background: none;
    cursor: pointer;
    top: 20px;
    right: 10px;
}
/* Newsletter CSS End */

/* Blog2 CSS Start */
.blog2 {
    padding-top: 30px;
}
/* Blog2 CSS End */

/* Load More CSS Start */
.load-more {
    padding: 160px 0;
	text-align: center;
}

.load a {
    font-family: playfairDisplay-regular;
    font-size: 18px;
    color: #626262;
    border: 1px solid #626262;
    display: inline-block;
    padding: 20px 35px;
    text-decoration: none;
}

.load a:hover {
    color: #fff;
    background-color: #626262;
}
/* Load More CSS End */

/* Footer CSS Start */
footer {
    background-color: #f0f0f0;
}

.f-lft {
    width: 40%;
    float: left;
    padding: 40px 0;
}

.f-lft ul li {
    list-style: none;
    float: left;
}

.f-lft ul li a {
    font-family: playfairDisplay-regular;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    padding-right: 30px;
}

.f-rght {
    width: 40%;
    float: right;
    text-align: right;
    padding: 40px 0;
}

.f-rght a {
    font-size: 18px;
    color: #626262;
    text-decoration: none;
    display: inline-block;
    padding-left: 20px;
}

.f-rght a:nth-child(1) {
    font-family: playfairDisplay-regular;
    font-size: 16px;
}

.f-rght a:nth-child(3):hover {
    color: #000;
    rotate: 60deg;
}

.f-rght a:nth-child(even):hover {
    color: #000;
    rotate: 60deg;
}
/* Footer CSS End */
